* {
  margin: 0;
  padding: 0;
  line-height: 1.25;
}

body {
  background-color: #eee;
}

.container {
  height: 100vh;
  overflow: auto;
  padding: 0 10px;
  position: relative;
}

.wrapItem {
  position: absolute;
  will-change: transform;
  contain: layout;
  left: 0;
  right: 0;
}

.sentry {
  width: 1px;
  height: 1px;
}
