* {
  margin: 0;
  padding: 0;
  line-height: 1.25;
}

body {
  background-color: #eee;
}

.container {
  height: 100vh;
  overflow: auto;
  padding: 0 10px;
  position: relative;
}

.item {
  padding: 10px 20px 0;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  margin-bottom: 10px;
  background: #fff;
}

.wrapItem {
  position: absolute;
  left: 0;
  right: 0;
  contain: layout;
  will-change: transform;
}

.info {
  height: 20px;
  display: flex;
  justify-content: space-between;
}

.pic {
  img {
    &:first-child {
      height: 100px;
    }
  }
}

.comment {
  width: 100%;
  color: rgba(0, 0, 0, 0.8);
}

.sentry {
  width: 1px;
  height: 1px;
}
